a {
  display: block;
}
.logo-box {
  width: 300px;
}
.logo img {
  width: 100%;
}
.shop {
  width: 32px;
  height: 32px;
  background: url(./src/assets/images/icon-shopping-cart.png) no-repeat center
    top / 100%;
}
.shop-gr {
  width: 32px;
  height: 32px;
  background: url(./src/assets/images/icon-shopping-cart-2.png) no-repeat center
    top / 100%;
}
.user {
  width: 32px;
  height: 32px;
  background: url(./src/assets/images/icon-user.png) no-repeat center top / 100%;
}
.user-gr {
  width: 32px;
  height: 32px;
  background: url(./src/assets/images/icon-user-2.png) no-repeat center top /
    100%;
}
.bag {
  width: 32px;
  height: 32px;
  background: url(./src/assets/images/icon-shopping-bag.png) no-repeat center
    top / 100%;
}
.plus {
  width: 32px;
  height: 32px;
  background: url(./src/assets/images/icon-plus.png) no-repeat center top / 100%;
}
.down-arrow {
  width: 22px;
  height: 22px;
  background: url(./src/assets/images/icon-down-arrow.png) no-repeat center
    top / 100%;
}
.right-arrow {
  width: 22px;
  height: 22px;
  background: url(./src/assets/images/icon-rhigt-arrow.png) no-repeat center
    top / 100%;
}
.up-arrow {
  width: 22px;
  height: 22px;
  background: url(./src/assets/images/icon-up-arrow.png) no-repeat center top /
    100%;
}
.minus {
  width: 20px;
  height: 20px;
  background: url(./src/assets/images/icon-minus-line.png) no-repeat center
    top / 100%;
}
.plus-icon {
  width: 20px;
  height: 20px;
  background: url(./src/assets/images/icon-plus-line.png) no-repeat center top /
    100%;
}
.delect {
  width: 22px;
  height: 22px;
  background: url(./src/assets/images/icon-delete.png) no-repeat center top /
    100%;
}
.swiper-l {
  width: 60px;
  height: 124px;
  background: url(./src/assets/images/icon-swiper-1.png) no-repeat center top /
    100%;
}
.swiper-r {
  width: 60px;
  height: 124px;
  background: url(./src/assets/images/icon-swiper-2.png) no-repeat center top /
    100%;
}
.img-icon {
  width: 50px;
  height: 50px;
  background: url(./src/assets/images/icon-img.png) no-repeat center top / 100%;
}
