@import url('../../assets/styles/recommendReset.css');

/* ===== 404 페이지 레이아웃 ===== */
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.error-message {
  width: 414px;
  height: 100%;
}

.error-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* max-width: 60rem; */
  width: 100%;
}
.error-actions {
  display: flex;
  flex-direction: row;
}

/* ===== 아이콘 ===== */
.error-icon {
  margin-right: 5rem;
}

.error-icon img {
  width: 20rem;
}

/* ===== 메시지 ===== */

.error-title {
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.error-description {
  color: var(--whitebutton-text-color);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: start;
  margin-bottom: 40px;
}

/* ===== 버튼 영역 ===== */
.error-actions {
  gap: 1.6rem;
}
